<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head.ejs') %>
    <title>Signup</title>
</head>

<body style="background-color: #ffffff">

  <%- include('./partials/nav.ejs') %>
        <div class="row justify-content-center mt-4">
        <div style="background-color: rgb(221, 58, 58); width: 30rem; box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.6); border-radius: 1.5%; align-items: center;padding: 50px;margin: 20px;" class="card">
            <img src="<%= locals.doctor?.profileImageURL %>" class="rounded-circle" width="200" alt="Circular Image">
                
                <div class="card-body mt-3">
                  <h5 class="card-title"></h5>
                  <p class="card-text"><strong><%= locals.doctor?.doctorName %></strong></p>
                </div>
                <form action="/doctor/initiateRequest/<%= doctor?._id %>" method="post">
                 
                  <div class="mb-3">
                    <label for="patientName" class="form-label">Patient Name</label>
                    <input type="patientName" class="form-control" name="patientName" id="patientName" aria-describedby="emailHelp">
                  </div>
                  <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="location" class="form-control" name="location" id="location">
                  </div>
                  <div class="mb-3">
                    <label for="bloodType" class="form-label">Blood Group</label>
                    <input type="bloodType" class="form-control" name="bloodType" id="bloodType">
                  </div><br><br>
                <div text-align: center; class="Send Request Message">
                  <button type="submit" class="btn btn-primary">Send Request Message</button>
                </div>
                </form>
              </div>
            </div>      
              
    <%- include('./partials/script.ejs') %>
</body>

</html>